node_modules
vendor
.git
.gitignore
.env
.env.example
README.md
Dockerfile
.dockerignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
npm-debug.log*
yarn-debug.log*
yarn-error.log* 