services:
  - type: web
    name: pawfectpals
    env: php
    buildCommand: composer install
    startCommand: vendor/bin/heroku-php-apache2 public/
    envVars:
      - key: APP_ENV
        value: production
      - key: QUEUE_CONNECTION
        value: database
      - key: APP_DEBUG
        value: "false"
    maxInstances: 1

  - type: background_worker
    name: pawfectpals-queue-worker
    env: php
    buildCommand: composer install
    startCommand: php artisan queue:work --wait=3 --memory=128 --sleep=1 --daemon
    envVars:
      - key: APP_ENV
        value: production
      - key: QUEUE_CONNECTION
        value: database
      - key: APP_DEBUG
        value: "false"
    maxInstances: 1
